---
# обязательно для Jekyll, чтобы собралось!
---

@import "minimal-mistakes"; // подключаем основную тему

// А теперь твои правки
.archive__item img {
  object-fit: cover;
  width: 100%;
  height: 300px;   // тут задаёшь нужную высоту под "обложку"
  border-radius: 8px; // необязательно, закругление углов
}
@import "custom";
